

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  width: 85%;
  height: auto;
  box-shadow: 0px 0px 5px rgb(121, 121, 121);
}

.product-item:hover {
    box-shadow: 0px 0px 10px rgb(56, 56, 56);
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
}

img {
  width: 70%;
  background-color: rgb(255, 255, 255);
  border: solid 1px #bebebe;
  padding: 4px;
  height: auto;
  border-radius: 8px;
}