
/* used grid to layout most of the page in 3 columns for the cards. Used media queries
to change grid to 2 columns and then 1 column the smaller the screen gets  */
.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    width: 100%;
}

@media (max-width: 800px) {
    .product-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .product-container {
        grid-template-columns: 1fr;
    }
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

select {    
    height: 2rem;
    width: 50%;

    border-radius: 0.25rem;
    border: 1px solid #ccc;
    margin: 0 30% 0 30%;
}

hr {
    margin: 20px 0;
}